
 /* We are using the 'Roboto' font from Google. This has already been added to your HTML header */


body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 90%;
    margin: center;
}

.btn-primary {
    background-color: rgb(240, 148, 35);
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.footer-img {
    width: 30px;
    height: 30px;
}

.p-2 {
    border: 1px solid black;
    border-radius:20px;
    margin: 5px;
}

@mediascreen(max-width: 574px;) {
    .card-img-overlay{
        top: 3px;
        width: 30%;
    }

}
/**
 * Add your custom styles below
 *  
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 * - When using Flexbox, remember the items you want to move around need to be inside a parent container set to 'display: flex'
 */


